body {
  background-color: #FDF6EC;
}

h1 {
  color: #66BFBF;
  font-family: arial;
  font-weight: bold;
}

h3  {
  color: #66BFBF;
}

hr {
  border-top: 10px dotted silver;
  width: 10%;
}
